h1{
background-color:Gainsboro;
text-align:center;
color:white;
width:1200px;
font-family:Georgia;
font-size:70px;
}
h2{
background-color:Gainsboro;
text-align:center;
color:white;
width:1200px;
font-family:Georgia;
font-size:20px;
}
body{
background-color:#BEF781;
}

p{
color:black;
font-family:Arial;
font-size:17px;
background-color:Gainsboro;
}

img{
width:150px;
height:auto;
borde-raius:5px;
padding:10px;
border: solid; 
}

table{
margin-top:50px;
margin-left:auto;
margin-right:auto;
text-align:left;
width:60%;
caption-side:bottom;
border-collapse:collapse;
}
th{
background-color:black;
color:white;
}
caption{
padding-top:20px;
font-style:italic;
}
td,th{
border:2px solid black;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}
