h1{
background-color:Wheat;
text-align:center;
color:blak;
width:1200px;
font-family:Georgia;
font-size:70px;
}

body {
background-color:#BEF781;
}

p{
color:Maroon
font-family:Arial;
font-size:16px;
background-color:Beige;
}
h2{
text-align:center;
color:white;
width:1200px;
font-family:Georgia;
font-size:20px;
}

table{
margin-top:50px;
margin-left:auto;
margin-right:auto;
text-align:center;
width:60%;
caption-side:bottom;
border-collapse:collapse;

}
th{
background-color:black;
color:white;
}
img{
width:150px;
height:auto;
borde-raius:5px;
padding:10px;
border: solid; 
}


